<nav>
<div class="site-title">
    <a href="/"><h1>Blurbs</h1></a>
    <p>A William Cayetano Blurb Site</p>
</div>
<ul>
    <li><a href="/">Blurbs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blurbs/create">New Blurb</a></li>
</ul>
</nav>