<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    
        <%- include('./partials/nav.ejs') %>

        <div classe="not-found content">
            Oops... page not found
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>