<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
    
        <%- include('./partials/nav.ejs') %>

        <div classe="about content">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet. Aut amet quibusdam est beatae exercitationem non officia debitis et rerum possimus ut officiis tempore est consectetur beatae rem sunt quaerat? Qui tenetur iste eum obcaecati nisi qui aliquam suscipit. Est omnis natus aut nesciunt delectus est consequatur deleniti.</p>
            <p>Lorem ipsum dolor sit amet. Aut amet quibusdam est beatae exercitationem non officia debitis et rerum possimus ut officiis tempore est consectetur beatae rem sunt quaerat? Qui tenetur iste eum obcaecati nisi qui aliquam suscipit. Est omnis natus aut nesciunt delectus est consequatur deleniti.</p>
            <p>Lorem ipsum dolor sit amet. Aut amet quibusdam est beatae exercitationem non officia debitis et rerum possimus ut officiis tempore est consectetur beatae rem sunt quaerat? Qui tenetur iste eum obcaecati nisi qui aliquam suscipit. Est omnis natus aut nesciunt delectus est consequatur deleniti.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>